init-view {
	width:100%; height:100%; background:#AAA;
	display:flex; align-items:center; justify-content:center;
	border:1px solid #000; box-sizing:border-box;

	// This is the default class which will be found in init-view.v.html
	&.some-default-class { border-width:2px; }

	// This is the assgned class which will be found in boot.ts
	&.assigned-init-class { border-width:10px; }
}